In [1]:
import pandas as pd
from selenium import webdriver
import time
from tqdm import tqdm

In [66]:
def adapt_number(x):
    if isinstance(x, str):
        return x.replace('.','').replace(',','.')
    else:
        return x

In [2]:
pd.options.display.max_columns = 25

In [3]:
#● “viewed product”:​ El usuario visita una página de producto. 
#● “brand listing”:​ El usuario visita un listado específico de una marca viendo un conjunto de productos. 
#● “visited site”:​ El usuario ingresa al sitio a una determinada url. 
#● “ad campaign hit”:​ El usuario ingresa al sitio mediante una campana de marketing online. 
#● “generic listing”:​ El usuario visita la homepage. 
#● “searched products”: ​El usuario realiza una búsqueda de productos en la interfaz de búsqueda del site. 
#● “search engine hit”:​ El usuario ingresa al sitio mediante un motor de búsqueda web. 
#● “checkout”:​ El usuario ingresa al checkout de compra de un producto. 
#● “staticpage”:​ El usuario visita una página 
#● “conversion”:​ El usuario realiza una conversión, comprando un producto. 
#● “lead”: ​El usuario se registra para recibir una notificación de disponibilidad de stock, para un producto que no se encontraba disponible en ese momento.

In [11]:
driver = webdriver.Chrome('C:\\Users\\raul.alberto.dip\\Desktop\\chromedriver.exe')

In [ ]:
#CARGAR MANUALMENTE CADA UNA DE LAS 6 URL DE LAS MARCAS

In [131]:
driver.get('https://www.trocafone.com/comprar/asus')

In [132]:
#CARGAR EN EL NAVEGADOR TODOS PRODUCTOS

In [137]:
products = driver.find_elements_by_tag_name('article')

In [138]:
urls = [i.find_element_by_tag_name("a").get_attribute("href") for i in products if (("backoffice" not in i.find_element_by_tag_name("a").get_attribute("href")) and ("monolith" not in i.find_element_by_tag_name("a").get_attribute("href")))]

In [139]:
print (urls)

['https://www.trocafone.com/comprar/asus/zenfone-6#999-asus-zenfone-6-vermelho']

In [140]:
len(urls)

1

In [141]:
models_asus = pd.DataFrame(columns = ['model', 'state', 'price'])
for x in tqdm(urls):
    try:
        driver.get(x)
        time.sleep(1)
        titulo = driver.find_element_by_class_name("js-product-name").text
        precios = []
        estados = []
        titulos = []
        for i in driver.find_elements_by_class_name("condition-container"):
            estados.append(i.text)
            titulos.append(titulo)
            i.click()
            time.sleep(1)
            precios.append(driver.find_element_by_class_name("js-trocable-invoice-current-price").text)
        #apendear un df grande con todo
        model_price = pd.DataFrame({
        'model' : titulos,
        'state' : estados,
        'price' : precios
        })
        models_asus = models_asus.append(model_price, ignore_index = True, sort = True)
    except:
        continue

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:28<00:00, 28.81s/it]

In [142]:
estados

['Excelente', 'Muito Bom', 'Bom']

In [143]:
precios

['', '', '709,00']

In [144]:
estados

['Excelente', 'Muito Bom', 'Bom']

In [145]:
titulos

['Asus Zenfone 6 Vermelho',
 'Asus Zenfone 6 Vermelho',
 'Asus Zenfone 6 Vermelho']

In [147]:
models_asus

                     model   price      state
0  Asus Zenfone 6 Vermelho          Excelente
1  Asus Zenfone 6 Vermelho          Muito Bom
2  Asus Zenfone 6 Vermelho  709,00        Bom

In [148]:
models_asus.to_csv('asus prices.csv')

In [1]:
import pandas as pd

In [68]:
master_prices = pd.DataFrame(columns = ['model', 'state', 'price'])

In [69]:
master_prices

Empty DataFrame
Columns: [model, state, price]
Index: []

In [70]:
iphone_prices = pd.read_csv('iphone prices.csv', index_col=0)
samasung_prices = pd.read_csv('samsung prices.csv', index_col=0)
motorola_prices = pd.read_csv('motorola prices.csv', index_col=0)
lg_prices = pd.read_csv('lg prices.csv', index_col=0)
sony_prices = pd.read_csv('sony prices.csv', index_col=0)
asus_prices = pd.read_csv('asus prices.csv', index_col=0)

In [71]:
master_prices = master_prices.append([iphone_prices,samasung_prices,motorola_prices,lg_prices,sony_prices,asus_prices],ignore_index = True, sort = True)

In [72]:
master_prices.head()

                           model     price               state
0  iPhone SE 16GB Cinza Espacial  1.149,00           Excelente
1  iPhone SE 16GB Cinza Espacial  1.059,00           Muito Bom
2  iPhone SE 16GB Cinza Espacial    979,00                 Bom
3  iPhone SE 16GB Cinza Espacial       NaN  Bom - Sem Touch ID
4  Iphone 6S 16GB Cinza Espacial  1.699,00           Excelente

In [73]:
master_prices['price'] = pd.to_numeric(master_prices['price'].apply(lambda x : adapt_number(x)))

In [79]:
master_prices['price'] = master_prices.groupby('model')['price'].transform(lambda x: x.fillna(x.mean()).round(2))

In [80]:
master_prices['price']

0      1149.00
1      1059.00
2       979.00
3      1062.33
4      1699.00
5      1539.00
6      1619.00
7      1619.00
8      2429.00
9      2379.00
10     2209.00
11     2429.00
12     2379.00
13     2209.00
14     1029.00
15     1059.00
16     1029.00
17      999.00
18      799.00
19      739.00
20      659.00
21     1379.00
22     1259.00
23     1129.00
24     1255.67
25      569.00
26      569.00
27      569.00
28      739.00
29      739.00
        ...
564     669.00
565     679.00
566     659.00
567     619.00
568     619.00
569     619.00
570        NaN
571        NaN
572        NaN
573     719.00
574     719.00
575     719.00
576    1089.00
577    1089.00
578    1089.00
579    1199.00
580    1199.00
581    1199.00
582     869.00
583     869.00
584     869.00
585    1209.00
586    1209.00
587    1209.00
588        NaN
589        NaN
590        NaN
591     709.00
592     709.00
593     709.00
Name: price, Length: 594, dtype: float64

In [81]:
master_prices.to_csv('scraped_prices.csv')