In [1]:
import pandas as pd

In [47]:
df = pd.DataFrame({'key1' : ['a','a','a', 'a','b','a'],
           'data1' : [2,3,2,7,3,3]})

In [48]:
df = df.sort_values('data1')

In [57]:
df['Rank'] = df.groupby(by=['key1'])['data1'].rank(method = 'dense')

In [58]:
df

  key1  data1  Rank
0    a      2   1.0
2    a      2   1.0
1    a      3   2.0
4    b      3   1.0
5    a      3   2.0
3    a      7   3.0