In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from os import chdir, getcwd
from datetime import datetime as dt
import numpy as np

In [8]:
getcwd()

'C:\\Users\\Lautaro\\Documents\\Data Science\\Organizacion de Datos\\TP1'

In [9]:
chdir('C:\Users\Lautaro\Documents\Data Science\Organizacion de Datos\TP1')

In [10]:
dataset = pd.read_csv('fiuba-trocafone-tp1-final-set\events.csv')

In [11]:
#Me voy a quedar solo con los clientes nuevos.
clientes_nuevos = dataset.loc[dataset['new_vs_returning'] == 'New']['person']

In [12]:
len(clientes_nuevos) #Me quedan 26898. Actuo sobre estos

26898

In [13]:
clientes_nuevos = clientes_nuevos.to_frame()

In [14]:
df = dataset.iloc[:, 0:3]

In [15]:
clientes_nuevos = clientes_nuevos.merge(df, how='left') #Ahora tengo un dataframe con los clientes nuevos y sus eventos

In [16]:
dataset['timestamp'].max()
dataset['timestamp'].min()  #El periodo comprendido por la tabla va desde el 01/01/2018 al 01/07/2018
                            #Entonces, debería tomar el circuito que hacen comprendido en algunos pocos días

'2018-01-01 07:32:26'

In [17]:
clientes_nuevos['timestamp'] = pd.to_datetime(clientes_nuevos['timestamp'])

In [18]:
clientes_nuevos['dia'] = clientes_nuevos['timestamp'].dt.day

In [19]:
clientes_nuevos['mes'] = clientes_nuevos['timestamp'].dt.month

In [20]:
mes_minimo = clientes_nuevos.groupby('person')['mes'].min().to_frame()

In [21]:
mes_minimo.reset_index()

         person  mes
0      0004b0a2    5
1      0006a21a    5
2      000a54b2    4
3      00184bf9    4
4      0019c395    5
5      001bb7eb    6
6      001f1653    5
7      00204059    1
8      0024a82b    5
9      0024ad28    5
10     00269e77    5
11     0026fd72    6
12     0027c344    6
13     00283a9e    6
14     002932b1    5
15     002cecfa    5
16     00300ace    5
17     00344c0a    6
18     003857f6    4
19     003f561a    6
20     003ff6cd    5
21     00420f4e    5
22     0047c5c6    6
23     004bd8f4    5
24     004e765d    6
25     00518ebd    5
26     0052ea09    5
27     005cb86a    6
28     005d0de1    6
29     005e6716    5
...         ...  ...
26868  ffb967e2    5
26869  ffbae174    6
26870  ffc0fa7a    6
26871  ffc42079    6
26872  ffcfcbf4    6
26873  ffcfd168    6
26874  ffd0be6e    5
26875  ffd33f13    5
26876  ffd85102    5
26877  ffd9b5f9    5
26878  ffd9e195    5
26879  ffdcf469    5
26880  ffe006ea    4
26881  ffe129fe    6
26882  ffe1bfe7    5
26883  ffe1f855    6
26884  ffe226f0    6
26885  ffe741db    5
26886  ffeaaa70    5
26887  ffeb3a03    6
26888  ffef9da6    6
26889  fff0e00c    1
26890  fff225f8    6
26891  fff229f7    6
26892  fff568f7    5
26893  fff60213    5
26894  fff99b85    5
26895  ffff8106    5
26896  ffffa8d1    5
26897  ffffac8a    6

[26898 rows x 2 columns]

In [22]:
mes_minimo = mes_minimo.merge(clientes_nuevos, how = 'left', on = ['person', 'mes'])

In [23]:
mes_minimo = mes_minimo.iloc[:,[0,2,3,4]]

In [24]:
dia_minimo = mes_minimo.groupby('person')['dia'].min().to_frame()

In [25]:
dia_minimo.reset_index()

         person  dia
0      0004b0a2   31
1      0006a21a   29
2      000a54b2    9
3      00184bf9    6
4      0019c395   17
5      001bb7eb    6
6      001f1653   29
7      00204059   18
8      0024a82b   30
9      0024ad28   21
10     00269e77   14
11     0026fd72   14
12     0027c344    5
13     00283a9e    2
14     002932b1    3
15     002cecfa   16
16     00300ace   28
17     00344c0a   13
18     003857f6    6
19     003f561a    6
20     003ff6cd   16
21     00420f4e   30
22     0047c5c6    6
23     004bd8f4   13
24     004e765d    1
25     00518ebd   29
26     0052ea09   28
27     005cb86a    8
28     005d0de1    5
29     005e6716   30
...         ...  ...
26868  ffb967e2    9
26869  ffbae174    1
26870  ffc0fa7a    8
26871  ffc42079    5
26872  ffcfcbf4   12
26873  ffcfd168    5
26874  ffd0be6e   31
26875  ffd33f13   21
26876  ffd85102   17
26877  ffd9b5f9   31
26878  ffd9e195   21
26879  ffdcf469   30
26880  ffe006ea   18
26881  ffe129fe    4
26882  ffe1bfe7   25
26883  ffe1f855   15
26884  ffe226f0    8
26885  ffe741db   17
26886  ffeaaa70   15
26887  ffeb3a03   11
26888  ffef9da6    8
26889  fff0e00c   24
26890  fff225f8    8
26891  fff229f7    7
26892  fff568f7   16
26893  fff60213   25
26894  fff99b85   28
26895  ffff8106   15
26896  ffffa8d1   18
26897  ffffac8a    4

[26898 rows x 2 columns]

In [26]:
dia_minimo = dia_minimo.merge(mes_minimo, how = 'left', on = ['person', 'dia'])

In [27]:
dia_minimo = dia_minimo.iloc[:,[0,2,3]]

In [28]:
comienzo = dia_minimo.groupby('person')['timestamp'].min().to_frame()

In [29]:
comienzo.rename(columns = {"timestamp" : "inicio_sesion"}).reset_index()

         person       inicio_sesion
0      0004b0a2 2018-05-31 23:38:05
1      0006a21a 2018-05-29 13:29:25
2      000a54b2 2018-04-09 20:12:31
3      00184bf9 2018-04-06 05:12:05
4      0019c395 2018-05-17 00:08:56
5      001bb7eb 2018-06-06 18:40:51
6      001f1653 2018-05-29 12:56:08
7      00204059 2018-01-18 00:19:28
8      0024a82b 2018-05-30 16:05:19
9      0024ad28 2018-05-21 19:47:49
10     00269e77 2018-05-14 23:42:08
11     0026fd72 2018-06-14 15:46:44
12     0027c344 2018-06-05 23:43:44
13     00283a9e 2018-06-02 13:37:44
14     002932b1 2018-05-03 20:25:50
15     002cecfa 2018-05-16 22:39:40
16     00300ace 2018-05-28 18:53:07
17     00344c0a 2018-06-13 16:13:48
18     003857f6 2018-04-06 16:40:32
19     003f561a 2018-06-06 14:40:10
20     003ff6cd 2018-05-16 20:09:55
21     00420f4e 2018-05-30 18:36:44
22     0047c5c6 2018-06-06 16:35:07
23     004bd8f4 2018-05-13 14:32:30
24     004e765d 2018-06-01 19:13:43
25     00518ebd 2018-05-29 11:45:06
26     0052ea09 2018-05-28 16:50:04
27     005cb86a 2018-06-08 01:08:11
28     005d0de1 2018-06-05 23:25:35
29     005e6716 2018-05-30 16:56:10
...         ...                 ...
26868  ffb967e2 2018-05-09 15:17:22
26869  ffbae174 2018-06-01 20:22:05
26870  ffc0fa7a 2018-06-08 15:07:41
26871  ffc42079 2018-06-05 17:04:04
26872  ffcfcbf4 2018-06-12 13:13:19
26873  ffcfd168 2018-06-05 10:56:10
26874  ffd0be6e 2018-05-31 01:16:22
26875  ffd33f13 2018-05-21 00:38:11
26876  ffd85102 2018-05-17 02:13:29
26877  ffd9b5f9 2018-05-31 09:01:31
26878  ffd9e195 2018-05-21 00:56:34
26879  ffdcf469 2018-05-30 18:07:14
26880  ffe006ea 2018-04-18 22:01:06
26881  ffe129fe 2018-06-04 22:39:42
26882  ffe1bfe7 2018-05-25 13:27:50
26883  ffe1f855 2018-06-15 20:18:03
26884  ffe226f0 2018-06-08 19:17:27
26885  ffe741db 2018-05-17 13:04:38
26886  ffeaaa70 2018-05-15 15:36:29
26887  ffeb3a03 2018-06-11 23:00:22
26888  ffef9da6 2018-06-08 18:27:59
26889  fff0e00c 2018-01-24 00:10:51
26890  fff225f8 2018-06-08 11:51:06
26891  fff229f7 2018-06-07 21:37:08
26892  fff568f7 2018-05-16 21:05:43
26893  fff60213 2018-05-25 18:19:44
26894  fff99b85 2018-05-28 18:19:27
26895  ffff8106 2018-05-15 18:30:07
26896  ffffa8d1 2018-05-18 00:29:38
26897  ffffac8a 2018-06-04 23:18:03

[26898 rows x 2 columns]

In [30]:
fin = dia_minimo.groupby('person')['timestamp'].max().to_frame()

In [31]:
fin.rename(columns = {"timestamp" : "fin_sesion"}).reset_index()

         person          fin_sesion
0      0004b0a2 2018-05-31 23:38:40
1      0006a21a 2018-05-29 13:29:35
2      000a54b2 2018-04-09 20:13:20
3      00184bf9 2018-04-06 05:18:15
4      0019c395 2018-05-17 00:11:26
5      001bb7eb 2018-06-06 18:40:53
6      001f1653 2018-05-29 12:56:27
7      00204059 2018-01-18 00:19:39
8      0024a82b 2018-05-30 16:05:55
9      0024ad28 2018-05-21 20:01:04
10     00269e77 2018-05-14 23:42:08
11     0026fd72 2018-06-14 20:30:48
12     0027c344 2018-06-05 23:48:21
13     00283a9e 2018-06-02 13:37:49
14     002932b1 2018-05-03 20:25:53
15     002cecfa 2018-05-16 22:42:30
16     00300ace 2018-05-28 19:53:54
17     00344c0a 2018-06-13 16:14:07
18     003857f6 2018-04-06 16:40:32
19     003f561a 2018-06-06 21:56:46
20     003ff6cd 2018-05-16 20:41:22
21     00420f4e 2018-05-30 19:32:12
22     0047c5c6 2018-06-06 16:36:58
23     004bd8f4 2018-05-13 14:35:38
24     004e765d 2018-06-01 23:11:35
25     00518ebd 2018-05-29 11:45:10
26     0052ea09 2018-05-28 16:57:52
27     005cb86a 2018-06-08 01:12:46
28     005d0de1 2018-06-05 23:32:59
29     005e6716 2018-05-30 16:56:34
...         ...                 ...
26868  ffb967e2 2018-05-09 15:24:12
26869  ffbae174 2018-06-01 20:25:48
26870  ffc0fa7a 2018-06-08 15:11:08
26871  ffc42079 2018-06-05 17:04:28
26872  ffcfcbf4 2018-06-12 17:32:34
26873  ffcfd168 2018-06-05 10:56:23
26874  ffd0be6e 2018-05-31 01:38:52
26875  ffd33f13 2018-05-21 00:40:19
26876  ffd85102 2018-05-17 12:35:45
26877  ffd9b5f9 2018-05-31 09:03:54
26878  ffd9e195 2018-05-21 19:17:00
26879  ffdcf469 2018-05-30 18:11:44
26880  ffe006ea 2018-04-18 22:28:14
26881  ffe129fe 2018-06-04 22:42:11
26882  ffe1bfe7 2018-05-25 15:47:07
26883  ffe1f855 2018-06-15 20:26:28
26884  ffe226f0 2018-06-08 19:21:45
26885  ffe741db 2018-05-17 13:06:51
26886  ffeaaa70 2018-05-15 18:17:46
26887  ffeb3a03 2018-06-11 23:01:03
26888  ffef9da6 2018-06-08 18:28:37
26889  fff0e00c 2018-01-24 00:12:16
26890  fff225f8 2018-06-08 11:54:27
26891  fff229f7 2018-06-07 22:19:38
26892  fff568f7 2018-05-16 21:05:44
26893  fff60213 2018-05-25 18:20:05
26894  fff99b85 2018-05-28 18:20:25
26895  ffff8106 2018-05-15 18:34:21
26896  ffffa8d1 2018-05-18 00:30:47
26897  ffffac8a 2018-06-04 23:18:10

[26898 rows x 2 columns]

In [32]:
duracion_sesion = comienzo.merge(fin, how = 'left', on = 'person')

In [33]:
duracion_sesion.reset_index()

         person         timestamp_x         timestamp_y
0      0004b0a2 2018-05-31 23:38:05 2018-05-31 23:38:40
1      0006a21a 2018-05-29 13:29:25 2018-05-29 13:29:35
2      000a54b2 2018-04-09 20:12:31 2018-04-09 20:13:20
3      00184bf9 2018-04-06 05:12:05 2018-04-06 05:18:15
4      0019c395 2018-05-17 00:08:56 2018-05-17 00:11:26
5      001bb7eb 2018-06-06 18:40:51 2018-06-06 18:40:53
6      001f1653 2018-05-29 12:56:08 2018-05-29 12:56:27
7      00204059 2018-01-18 00:19:28 2018-01-18 00:19:39
8      0024a82b 2018-05-30 16:05:19 2018-05-30 16:05:55
9      0024ad28 2018-05-21 19:47:49 2018-05-21 20:01:04
10     00269e77 2018-05-14 23:42:08 2018-05-14 23:42:08
11     0026fd72 2018-06-14 15:46:44 2018-06-14 20:30:48
12     0027c344 2018-06-05 23:43:44 2018-06-05 23:48:21
13     00283a9e 2018-06-02 13:37:44 2018-06-02 13:37:49
14     002932b1 2018-05-03 20:25:50 2018-05-03 20:25:53
15     002cecfa 2018-05-16 22:39:40 2018-05-16 22:42:30
16     00300ace 2018-05-28 18:53:07 2018-05-28 19:53:54
17     00344c0a 2018-06-13 16:13:48 2018-06-13 16:14:07
18     003857f6 2018-04-06 16:40:32 2018-04-06 16:40:32
19     003f561a 2018-06-06 14:40:10 2018-06-06 21:56:46
20     003ff6cd 2018-05-16 20:09:55 2018-05-16 20:41:22
21     00420f4e 2018-05-30 18:36:44 2018-05-30 19:32:12
22     0047c5c6 2018-06-06 16:35:07 2018-06-06 16:36:58
23     004bd8f4 2018-05-13 14:32:30 2018-05-13 14:35:38
24     004e765d 2018-06-01 19:13:43 2018-06-01 23:11:35
25     00518ebd 2018-05-29 11:45:06 2018-05-29 11:45:10
26     0052ea09 2018-05-28 16:50:04 2018-05-28 16:57:52
27     005cb86a 2018-06-08 01:08:11 2018-06-08 01:12:46
28     005d0de1 2018-06-05 23:25:35 2018-06-05 23:32:59
29     005e6716 2018-05-30 16:56:10 2018-05-30 16:56:34
...         ...                 ...                 ...
26868  ffb967e2 2018-05-09 15:17:22 2018-05-09 15:24:12
26869  ffbae174 2018-06-01 20:22:05 2018-06-01 20:25:48
26870  ffc0fa7a 2018-06-08 15:07:41 2018-06-08 15:11:08
26871  ffc42079 2018-06-05 17:04:04 2018-06-05 17:04:28
26872  ffcfcbf4 2018-06-12 13:13:19 2018-06-12 17:32:34
26873  ffcfd168 2018-06-05 10:56:10 2018-06-05 10:56:23
26874  ffd0be6e 2018-05-31 01:16:22 2018-05-31 01:38:52
26875  ffd33f13 2018-05-21 00:38:11 2018-05-21 00:40:19
26876  ffd85102 2018-05-17 02:13:29 2018-05-17 12:35:45
26877  ffd9b5f9 2018-05-31 09:01:31 2018-05-31 09:03:54
26878  ffd9e195 2018-05-21 00:56:34 2018-05-21 19:17:00
26879  ffdcf469 2018-05-30 18:07:14 2018-05-30 18:11:44
26880  ffe006ea 2018-04-18 22:01:06 2018-04-18 22:28:14
26881  ffe129fe 2018-06-04 22:39:42 2018-06-04 22:42:11
26882  ffe1bfe7 2018-05-25 13:27:50 2018-05-25 15:47:07
26883  ffe1f855 2018-06-15 20:18:03 2018-06-15 20:26:28
26884  ffe226f0 2018-06-08 19:17:27 2018-06-08 19:21:45
26885  ffe741db 2018-05-17 13:04:38 2018-05-17 13:06:51
26886  ffeaaa70 2018-05-15 15:36:29 2018-05-15 18:17:46
26887  ffeb3a03 2018-06-11 23:00:22 2018-06-11 23:01:03
26888  ffef9da6 2018-06-08 18:27:59 2018-06-08 18:28:37
26889  fff0e00c 2018-01-24 00:10:51 2018-01-24 00:12:16
26890  fff225f8 2018-06-08 11:51:06 2018-06-08 11:54:27
26891  fff229f7 2018-06-07 21:37:08 2018-06-07 22:19:38
26892  fff568f7 2018-05-16 21:05:43 2018-05-16 21:05:44
26893  fff60213 2018-05-25 18:19:44 2018-05-25 18:20:05
26894  fff99b85 2018-05-28 18:19:27 2018-05-28 18:20:25
26895  ffff8106 2018-05-15 18:30:07 2018-05-15 18:34:21
26896  ffffa8d1 2018-05-18 00:29:38 2018-05-18 00:30:47
26897  ffffac8a 2018-06-04 23:18:03 2018-06-04 23:18:10

[26898 rows x 3 columns]

In [34]:
duracion_sesion['duracion'] = duracion_sesion['timestamp_y'] - duracion_sesion['timestamp_x']

In [35]:
duracion_sesion = duracion_sesion.iloc[:,2].to_frame()

In [36]:
mes_minimo['flag_compra'] = np.where(mes_minimo['event'] == 'conversion', '1','0')

In [37]:
flag_compra = mes_minimo.groupby('person')['flag_compra'].max().to_frame()

In [38]:
flag_compra.reset_index()

         person flag_compra
0      0004b0a2           0
1      0006a21a           0
2      000a54b2           0
3      00184bf9           0
4      0019c395           0
5      001bb7eb           0
6      001f1653           0
7      00204059           0
8      0024a82b           0
9      0024ad28           0
10     00269e77           0
11     0026fd72           0
12     0027c344           0
13     00283a9e           0
14     002932b1           0
15     002cecfa           0
16     00300ace           0
17     00344c0a           0
18     003857f6           0
19     003f561a           0
20     003ff6cd           0
21     00420f4e           0
22     0047c5c6           0
23     004bd8f4           0
24     004e765d           0
25     00518ebd           0
26     0052ea09           0
27     005cb86a           0
28     005d0de1           0
29     005e6716           0
...         ...         ...
26868  ffb967e2           0
26869  ffbae174           0
26870  ffc0fa7a           0
26871  ffc42079           0
26872  ffcfcbf4           0
26873  ffcfd168           0
26874  ffd0be6e           0
26875  ffd33f13           0
26876  ffd85102           0
26877  ffd9b5f9           0
26878  ffd9e195           0
26879  ffdcf469           0
26880  ffe006ea           0
26881  ffe129fe           0
26882  ffe1bfe7           0
26883  ffe1f855           0
26884  ffe226f0           0
26885  ffe741db           0
26886  ffeaaa70           0
26887  ffeb3a03           0
26888  ffef9da6           0
26889  fff0e00c           0
26890  fff225f8           0
26891  fff229f7           0
26892  fff568f7           0
26893  fff60213           0
26894  fff99b85           0
26895  ffff8106           0
26896  ffffa8d1           0
26897  ffffac8a           0

[26898 rows x 2 columns]

In [39]:
conversion_duracion = duracion_sesion.merge(flag_compra, how = 'left', on = 'person')

In [51]:
conversion_duracion = conversion_duracion.reset_index()

In [79]:
conversion_duracion.loc[conversion_duracion['flag_compra'] == '1']['duracion'].mean()

Timedelta('0 days 03:02:25.181443')